<div class="outer">
    <div class="middle">
        <div class="inner">
            <h3 class="logo-heading"><a class="logo-heading" href="/">Dormee</a></h3><br/><br/>
                <% include ../msgs %>
                    <div class="login-form mdl-card mdl-shadow--2dp">
