<div class="outer">
    <div class="middle">
        <div class="inner">
        <% if (error != '') { %>
                    <div class="alert alert-danger"><%= error %></div>
        <% } %>
            <h3 class="logo-heading">Dormee</h3><br/><br/>
            <div class="login-form mdl-card mdl-shadow--2dp">