<% include partials/homepage/header %>

  <br/>
  <div class="container">
    <br/>
    <div class="white">
      <form method="post" action="/">
        <div class="input-field">
          <input placeholder="search by district" id="search" type="search" name="search" required>
          <label class="label-icon prefix" for="search"><i class="material-icons">search</i></label>
        </div>
      </form>
    </div>
    <div class="row">
      <% for(var i=0; i<apartments.length; i++){ %>
        <div class="col s4">
          <div class="card medium">
            <div class="card-image">
              <img src=< %= apartments[i].photo_path %> >
              <span class="card-title" style="text-shadow: 0px 0px 4px black;"><%= apartments[i].address %></span>
            </div>
            <div class="card-content">
              <i class="material-icons">location_on</i>
              <%= apartments[i].district %>
            </div>
            <div class="card-action">
              <a href="#">View more details</a>
            </div>
          </div>
        </div>
        <% } %>
    </div>

    <% include partials/homepage/footer %>